# Virtual environment  
venv/  
*.pyc  
__pycache__/  

# Environment variables  
.env  

# Logs & temp files  
*.log  
*.sqlite3  
*.db  
*.pid  

# Python cache  
*.py[cod]  
__pycache__/  
*.so  

# Jupyter Notebook checkpoints  
.ipynb_checkpoints  

# VSCode & JetBrains settings  
.vscode/  
.idea/  

# OS-specific files  
.DS_Store  
Thumbs.db  
